<header class="relative">
  <!-- Hero Background -->
  <div class="relative">
    <img
      src="assets/media/imagem_segurando.png"
      alt="pessoa segurando frasco de oleo"
      class="w-full h-[650px] object-cover"
    />
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>

    <!-- Content -->
    <div
      class="absolute inset-0 flex flex-col justify-center items-start px-12 font-normal text-white"
    >
      <h1 class="max-w-lg font-thin text-6xl leading-tight">
        A ciência que transforma a saúde
      </h1>
      <button
        (click)="sendMensage()"
        pButton
        class="bg-green-800 hover:bg-green-900 shadow-md mt-6 px-8 py-3 rounded-md font-medium text-lg text-white"
      >
        Clique e saiba mais
      </button>
    </div>
    <div
      class="bottom-0 z-20 absolute bg-white rounded-t-[150px] w-full h-20"
    ></div>
  </div>

  <!-- Navbar -->
  <nav class="top-6 right-12 absolute text-white">
    <ul class="flex space-x-8 font-light text-lg">
      <li><a href="#sobre" class="hover:text-green-200">Sobre</a></li>
      <li><a href="#conheca" class="hover:text-green-200">Como funciona</a></li>
      <li><a href="#feedbacks" class="hover:text-green-200">Depoimentos</a></li>
      <li><a href="#beneficios" class="hover:text-green-200">Benefícios</a></li>
      <li><a href="#infos" class="hover:text-green-200">Fale conosco</a></li>
    </ul>
  </nav>
</header>
