<section id="beneficios" class="flex flex-col bg-white py-12 w-full">
  <div
    class="flex lg:flex-row flex-col justify-center lg:justify-between lg:items-center gap-8 space-y-8 lg:space-y-0 mx-auto px-6 lg:px-8 w-full max-w-6xl"
  >
    <!-- Left Content -->
    <div class="flex flex-1 justify-center items-center pl-4 w-full">
      <img
        src="assets/media/ampola-vertical.png"
        alt="pessoa segurando frasco de oleo"
        class="max-h-[400px]"
      />
    </div>

    <!-- Right Content -->
    <div class="flex-1 space-y-8">
      <p class="font-semibold text-[#3B4B10] text-lg">
        Potenciais benefícios do tratamento com cannabis medicinal
      </p>
      <p-accordion
        class="bg-white w-full text-black"
        expandIcon="pi pi-plus text-[#3B4B10]"
        collapseIcon="pi pi-minus text-[#3B4B10]"
      >
        <p-accordionTab
          iconPos="end"
          [headerStyle]="{
            'background-color': 'transparent',
            'border-bottom': '1px solid #3B4B10',
            'border-radius': '0px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex items-center gap-2 bg-transparent w-full">
              <span class="font-bold"> Gestão da dor </span>
            </span>
          </ng-template>
          <p class="m-0 text-gray-700 text-sm">
            A mesma pode atuar no alívio de dores crônicas e agudas,
            proporcionando uma alternativa natural e eficaz para pacientes que
            sofrem com desconforto contínuo.
          </p>
        </p-accordionTab>

        <p-accordionTab
          iconPos="end"
          [headerStyle]="{
            'background-color': 'transparent',
            'border-bottom': '1px solid #3B4B10',
            'border-radius': '0px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex items-center gap-2 bg-transparent w-full">
              <span class="font-bold"> Melhoria do Sono </span>
            </span>
          </ng-template>
          <p class="m-0 text-gray-700 text-sm">
            A adenosina é um composto orgânico responsável pelo controle da
            nossa sensação de cansaço. O CBD ajuda a regular a quantidade de
            adenosina produzida pelo corpo, promovendo assim a qualidade do
            sono.
          </p>
        </p-accordionTab>
        <p-accordionTab
          iconPos="end"
          [headerStyle]="{
            'background-color': 'transparent',
            'border-bottom': '1px solid #3B4B10',
            'border-radius': '0px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex items-center gap-2 bg-transparent w-full">
              <span class="font-bold"> Doenças neurológicas </span>
            </span>
          </ng-template>
          <p class="m-0 text-gray-700 text-sm">
            O tratamento com cannabis medicinal tem sido explorado em diversas
            condições neurológicas, como epilepsia e esclerose múltipla,
            oferecendo uma alternativa terapêutica promissora para esses
            pacientes.
          </p>
        </p-accordionTab>
        <p-accordionTab
          iconPos="end"
          [headerStyle]="{
            'background-color': 'transparent',
            'border-bottom': '1px solid #3B4B10',
            'border-radius': '0px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex items-center gap-2 bg-transparent w-full">
              <span class="font-bold"> Saúde mental </span>
            </span>
          </ng-template>
          <p class="m-0 text-gray-700 text-sm">
            Além de aliviar a ansiedade, o tratamento com CBD tem demonstrado
            benefícios no apoio ao tratamento de depressão e transtorno de
            estresse pós-traumático (TEPT), proporcionando maior qualidade de
            vida aos pacientes que convivem com esses distúrbios.
          </p>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</section>
