<section class="bg-white py-12 w-full flex flex-col">
  <div
  class="flex flex-col justify-center gap-8 lg:flex-row lg:justify-between lg:items-center w-full max-w-6xl mx-auto px-6 lg:px-8 space-y-8 lg:space-y-0"
>
  <!-- Left Content -->
  <div class="flex-1 w-full flex justify-center items-center pl-4">
    <img
      src="../../../assets/media/ampola-vertical.svg"
      alt="pessoa segurando frasco de oleo"
      class="max-h-[400px]"
    />
  </div>

    <!-- Right Content -->
    <div class="flex-1 space-y-8">
      <p class="text-lg font-semibold text-[#3B4B10]">
        Potenciais benefícios do tratamento com cannabis medicinal
      </p>
      <p-accordion
        class="w-full text-black bg-white"
        expandIcon="pi pi-plus text-[#3B4B10]"
        collapseIcon="pi pi-minus text-[#3B4B10]"
      >
        <p-accordionTab
          iconPos="end"
          [headerStyle]="{
            'background-color': 'transparent',
            'border-bottom': '1px solid #3B4B10',
            'border-radius': '0px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex bg-transparent items-center gap-2 w-full">
              <span class="font-bold"> Gestão da dor </span>
            </span>
          </ng-template>
          <p class="m-0 text-sm text-gray-700">
            A mesma pode atuar no alívio de dores crônicas e agudas,
            proporcionando uma alternativa natural e eficaz para pacientes que
            sofrem com desconforto contínuo.
          </p>
        </p-accordionTab>

        <p-accordionTab
          iconPos="end"
          [headerStyle]="{
            'background-color': 'transparent',
            'border-bottom': '1px solid #3B4B10',
            'border-radius': '0px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex bg-transparent items-center gap-2 w-full">
              <span class="font-bold"> Melhoria do Sono </span>
            </span>
          </ng-template>
          <p class="m-0 text-sm text-gray-700">
            A mesma pode atuar no alívio de dores crônicas e agudas,
            proporcionando uma alternativa natural e eficaz para pacientes que
            sofrem com desconforto contínuo.
          </p>
        </p-accordionTab>
        <p-accordionTab
          iconPos="end"
          [headerStyle]="{
            'background-color': 'transparent',
            'border-bottom': '1px solid #3B4B10',
            'border-radius': '0px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex bg-transparent items-center gap-2 w-full">
              <span class="font-bold"> Doenças neurológicas </span>
            </span>
          </ng-template>
          <p class="m-0 text-sm text-gray-700">
            A mesma pode atuar no alívio de dores crônicas e agudas,
            proporcionando uma alternativa natural e eficaz para pacientes que
            sofrem com desconforto contínuo.
          </p>
        </p-accordionTab>
        <p-accordionTab
          iconPos="end"
          [headerStyle]="{
            'background-color': 'transparent',
            'border-bottom': '1px solid #3B4B10',
            'border-radius': '0px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex bg-transparent items-center gap-2 w-full">
              <span class="font-bold"> Saúde mental </span>
            </span>
          </ng-template>
          <p class="m-0 text-sm text-gray-700">
            A mesma pode atuar no alívio de dores crônicas e agudas,
            proporcionando uma alternativa natural e eficaz para pacientes que
            sofrem com desconforto contínuo.
          </p>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</section>
