<section class="bg-white px-4 sm:px-8 py-12">
  <div
    class="flex lg:flex-row flex-col lg:justify-between lg:items-center space-y-8 lg:space-y-0 bg-white shadow-lg mx-auto p-8 rounded-lg max-w-6xl"
  >
    <!-- Left Content -->
    <div class="space-y-4 lg:w-1/2">
      <h2 class="font-semibold text-gray-500 text-sm uppercase tracking-wide">
        Entenda mais sobre
      </h2>
      <h3 class="font-bold text-4xl text-gray-900 leading-snug">
        Um produto que eleva sua saúde e qualidade de vida
      </h3>
      <p class="text-gray-600 leading-relaxed">
        A medicina natural, bioidêntica e comprovada cientificamente está à sua
        disposição. Vamos promover saúde, bem-estar e qualidade de vida a todos
        que precisam.
      </p>
    </div>

    <!-- Right Content -->
    <div
      class="flex justify-center lg:justify-end items-center space-x-6 lg:w-1/2"
    >
      <!-- Stats -->
      <div class="text-center">
        <p class="font-bold text-4xl text-green-600">+500</p>
        <p class="text-gray-600">Pessoas atendidas</p>
      </div>
      <div class="text-center">
        <p class="font-bold text-4xl text-green-600">+300</p>
        <p class="text-gray-600">Tratamentos iniciados</p>
      </div>
      <!-- Button -->
      <button
        pButton
        class="bg-black hover:bg-gray-800 shadow-md px-6 py-3 rounded-lg font-medium text-lg text-white"
      >
        Fale Conosco
      </button>
    </div>
  </div>
</section>
