<section class="bg-white py-12 w-full flex flex-col">
  <div
    class="flex flex-col gap-8 lg:flex-row lg:justify-between lg:items-center w-full max-w-6xl mx-auto px-6 lg:px-8 space-y-8 lg:space-y-0"
  >
    <!-- Left Content -->
    <div class="flex-1">
      <div class="flex flex-col gap-6">
        <h2 class="text-5xl font-normal text-gray-900 leading-tight">
          Conheça o<br />
          CBD Vital
        </h2>

        <p>
          O canabidiol ou CBD é um fitocanabinoide sem propriedades
          intoxicantes. Possui capacidades analgésicas, anti-inflamatórias,
          antioxidantes, ansiolíticas, antidepressivas, anticonvulsivas,
          estimulante ósseo, antináusea, neuroprotetora e tem efeito
          imunomodulatório.
        </p>
        <button
          class="bg-[#3B4B10] w-80 h-12 hover:bg-gray-800 shadow-md py-2 rounded-lg font-medium text-lg text-white"
        >
          Fale Conosco
        </button>
      </div>
    </div>

    <!-- Right Content -->
    <div class="flex-1 space-y-8">
      <p-accordion
        class="w-full text-black bg-white space-y-4"
        expandIcon="pi pi-plus text-[#3B4B10]"
        collapseIcon="pi pi-minus text-[#3B4B10]"
      >
        <p-accordionTab

          iconPos="end"
          [headerStyle]="{
            'background-color': '#3B4B1026',

            'border-radius': '8px',
            'margin-bottom': '8px'
          }"
          [contentStyle]="{
            'background-color': '#3B4B10',
            color: '#FFFFFF',
            'border-radius': '8px',
            padding: '16px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex items-center gap-2 w-full">
              <span class="font-bold"> O que é Cannabis Medicinal? </span>
            </span>
          </ng-template>
          <p class="m-0 text-sm text-white">
            O óleo de Cannabis é um produto medicinal comumente usado no tratamento de condições, para amenizar os efeitos colaterais de quem faz.
          </p>
        </p-accordionTab>

        <p-accordionTab
          iconPos="end"
          [headerStyle]="{
            'background-color': '#3B4B1026',

            'border-radius': '8px',
            'margin-bottom': '8px'
          }"
          [contentStyle]="{
            'background-color': '#3B4B10',
            color: '#FFFFFF',
            'border-radius': '8px',
            padding: '16px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex items-center gap-2 w-full">
              <span class="font-bold"> O óleo de Cannabis causa dependência?</span>
            </span>
          </ng-template>
          <p class="m-0 text-sm text-white">
            A mesma pode atuar no alívio de dores crônicas e agudas,
            proporcionando uma alternativa natural e eficaz para pacientes que
            sofrem com desconforto contínuo.
          </p>
        </p-accordionTab>

        <p-accordionTab
          iconPos="end"
          [headerStyle]="{
            'background-color': '#3B4B1026',

            'border-radius': '8px',
            'margin-bottom': '8px'
          }"
          [contentStyle]="{
            'background-color': '#3B4B10',
            color: '#FFFFFF',
            'border-radius': '8px',
            padding: '16px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex items-center gap-2 w-full">
              <span class="font-bold">Como o óleo de Cannabis atua no corpo?</span>
            </span>
          </ng-template>
          <p class="m-0 text-sm text-white">
            A mesma pode atuar no alívio de dores crônicas e agudas,
            proporcionando uma alternativa natural e eficaz para pacientes que
            sofrem com desconforto contínuo.
          </p>
        </p-accordionTab>

        <p-accordionTab
          iconPos="end"
          [headerStyle]="{
            'background-color': '#3B4B1026',

            'border-radius': '8px',
            'margin-bottom': '8px'
          }"
          [contentStyle]="{
            'background-color': '#3B4B10',
            color: '#FFFFFF',
            'border-radius': '8px',
            padding: '16px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex items-center gap-2 w-full">
              <span class="font-bold">Quais patologias a CBD ajuda a amenizar?</span>
            </span>
          </ng-template>
          <p class="m-0 text-sm text-white">
            A mesma pode atuar no alívio de dores crônicas e agudas,
            proporcionando uma alternativa natural e eficaz para pacientes que
            sofrem com desconforto contínuo.
          </p>
        </p-accordionTab>
        <p-accordionTab
          iconPos="end"
          [headerStyle]="{
            'background-color': '#3B4B1026',

            'border-radius': '8px',
            'margin-bottom': '8px'
          }"
          [contentStyle]="{
            'background-color': '#3B4B10',
            color: '#FFFFFF',
            'border-radius': '8px',
            padding: '16px'
          }"
        >
          <ng-template pTemplate="header">
            <span class="flex items-center gap-2 w-full">
              <span class="font-bold">Posso utilizar o óleo em qualquer horário?</span>
            </span>
          </ng-template>
          <p class="m-0 text-sm text-white">
            A mesma pode atuar no alívio de dores crônicas e agudas,
            proporcionando uma alternativa natural e eficaz para pacientes que
            sofrem com desconforto contínuo.
          </p>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</section>
