<section class="bg-white py-12 w-full flex flex-col">
  <div
    class="bg-white flex flex-col lg:flex-row lg:justify-between lg:items-center w-full max-w-6xl mx-auto px-6 lg:px-8 space-y-8 lg:space-y-0"
  >
    <!-- Left Content -->
    <div class="flex-1">
      <img
        src="assets/media/imagem_segurando.png"
        alt="pessoa segurando frasco de oleo"
        class="w-full"
      />
    </div>

    <div
      class="flex-1 flex-col lg:flex-row lg:justify-between lg:items-center w-full max-w-6xl mx-auto px-6 lg:px-8 space-y-8 lg:space-y-0"
    >
      <!-- Right Content -->
      <p>Potenciais benefícios do tratamento com cannabis medicinal</p>


    </div>
  </div>
</section>
